i {
    float: right;
    width: 25px;
    height: 25px;
    padding: 0.5%;
    text-align: center;
}

#addNewTaskTodoList {
    margin: 15px 0;
}
#btnGroupTodoList {
    margin: 10px 0;
}
.img-rounded {
    float: right;
}
.blockItem {
    margin: 1px;
    height: 45px;
}